@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper{
    overflow-x: hidden;
    overflow-y:auto ;
    height: 100vh;
    background-color: black;
    color : white;
}

.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    height: 100%;
    margin-block: 100px;

}
.heading{
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow:3px 3px 0px #493787;
}

.sudoku{
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(9,30px);
    grid-template-rows: repeat(9,30px);
    gap: 3px;
    height: 300px;
}
.sudoku input[type=number]{
    border: none;
    outline: 1px solid black;
    text-align: center;
    /* background-color: transparent; */
    color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: #dcdcdc;
    
}


.btn{
    padding: 7px 30px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #493787 !important;
    transition: background-color .35s ease;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #302178;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.note{
    font-size: 1rem;
    font-family: cursive;
    max-width: 600px;
    text-align: justify;
}
.note span{
    color: red;
}



/* Remove up and down arrows from input number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
