@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    overflow:hidden auto ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-color: #333456; */
    color : white;
}

.box{
    /* margin: 0 auto; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.heading{
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    letter-spacing: 5px;
    text-shadow:3px 3px 0px #493787;
}

.sudoku{
    display: grid;
    grid-template-columns: repeat(9,30px);
    grid-template-rows: repeat(9,30px);
    /* background-color: #121212; */
    /* border: 2px solid #493787; */
    /* border-radius:3px; */
    overflow: hidden;
    gap: 3px;
    /* background-color: #333456; */
}
.sudoku input[type=number]{
    border: none;
    outline: 1px solid black;
    text-align: center;
    /* background-color: transparent; */
    color: white;
    border-radius: 3px;
    background-color: #121212;
    
}


.btn{
    padding: 7px 30px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #493787 !important;
    transition: background-color .35s ease;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #302178;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.note{
    font-size: 1.5rem;
    font-family: cursive;
}
.note span{
    color: red;
}



/* Remove up and down arrows from input number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}